<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head">

    <title>Spring MVC User- Create Post</title>
</head>

<header th:replace="layout :: logged-in"></header>
<body>
    <h2>Create a post</h2>
    <form method="post" th:action="@{/posts/create}">
        <div>Post Title</div>
        <div>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <h3>Description:</h3>>
            <textarea row="7" col="100" name="body"></textarea>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>