<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head">

    <title>Spring MVC - Login</title>
</head>
<header th:replace="layout :: logged-out"></header>
<body>
    <h2>Enter login credentials</h2>
    <form th:method="post" th:action="@{/users/login}" th:object="${User}">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <input type="submit" value="Login">
    </form>

</body>
</html>