<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Title</title>
</head>

<header th:replace="layout :: logged-out"></header>
<body>
    <h2>Please enter your details</h2>
    <form method="post" th:object="${User}">
        <label for="fullname">FullName</label>
        <input type="text" id="fullname" name="fullname">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
        <input type="submit" value="Register">
    </form>
</body>
</html>